AUTH0_CLIENT_ID=<your auth0 client id>
AUTH0_CLIENT_SECRET=<your auth0 client secret>
AUTH0_AUDIENCE=<your auth0 audience>
AUTH0_ISSUER=<your auth0 issuer>
COOKIE_ENCRYPTION_KEY=<your cookie cookie encryption key>
